<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tu scegli Noi Creiamo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="folder">
<div *ngFor="let item of playList">
  <ion-card>
    <img src="{{ item.snippet.thumbnails.medium.url }}" alt="" srcset="">
    <ion-card-header>
      <ion-card-subtitle>{{ item.snippet.title }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ item.snippet.description }}
    </ion-card-content>
    <ion-button color="primary" (click)="startVideo(item.snippet.resourceId.videoId)" >Play</ion-button>
  </ion-card>
</div>
</ion-content>






  <div id="container"  *ngIf="folder=='Inbox'">
 
    <ion-card>
      <ion-card-header>
        <ion-title>New Signal Tv</ion-title>
        <ion-card-subtitle> <p>Creiamo contenuti</p> </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        è una WebTv On Demand che nasce da un gruppo 
        di professionisti che condividono 
        la passione per l'informazione, il video, la fotografia e la creatività
      </ion-card-content>
      <ion-card-subtitle>
        Sede Legale: Via Lodovico Antonio Muratori 15 - Genova - Italia 16100

        www.videofotoworksproduction.com
        
        info@newsignal.it
        
        Copyright ©2020 di NewSignal  | Powered By Videofotoworks Production

      </ion-card-subtitle>
    </ion-card>
  
  </div>

  

