<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>NewSignal-tv</ion-list-header>
          <ion-note>social@newignal.it</ion-note>

          <!-- alla Home-->
          <ion-menu-toggle >
            <ion-item  routerDirection="root" [routerLink]="'/folder/Inbox'" lines="none" detail="false">
              <ion-icon name="home-outline"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <hr>
          <!-- playlist recuperata da youtube -->
          <ion-list-header>I più Visti</ion-list-header>
          <hr>
          <ion-menu-toggle auto-hide="false" *ngFor="let item of playList; let i = index">
          <!-- <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="'folder/'+[item.id]" > --> 
            <ion-item (click)="sendData(item.id, item.snippet.title)" >
              <img src="{{ item.snippet.thumbnails.default.url }}" width='50' height="auto"> 
               <ion-label>{{ item.snippet.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
